* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    text-align: center;
}

button {
    height: 100px;
    width: 150px;
}